<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRemoteServiceManager" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IRemoteServiceManager" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Fifth.Server/RemoteServiceManager/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteServiceManager"
                contract="RemoteServiceManagerReference.IRemoteServiceManager"
                name="BasicHttpBinding_IRemoteServiceManager" />
            <endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/Fifth.Server/RemoteServiceManager/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRemoteServiceManager"
                contract="RemoteServiceManagerReference.IRemoteServiceManager"
                name="NetTcpBinding_IRemoteServiceManager">
                <identity>
                    <userPrincipalName value="LOST\MERKATOR" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>